body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Custom Classes*/
.mt-8{
  margin-top: 8rem;
}
.custom-logo img{
  width: 100%;
  max-width: 230px;
}
@media (min-width: 1440px){
  .custom-logo img {
    width: 100%;
    max-width: 280px;
    margin-left: 40%;
}
}
.footer-box .logo{
  width: 100%;
  max-width: 200px;
}
.custom-box-list {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: normal;
  gap: 16px;
}
.custom-box-list h4{
  font-size: 1.3rem;
}
.contact-form-section.custom-form-sub{
  /* padding-bottom: 280px; */
  width: 100%;
}
.contact-form-section .custom-form-grid ul{
  grid-template-columns:100%
}
.items-box{
  background: #3500fc;
  height: 50px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 25px;
}




.popup {
  min-width: 400px;
  position: fixed;
  top: 35%;
  left: 48%;
  transform: translateX(-50%);
  padding: 15px;
  color: white;
  border-radius: 20px; 
  font-weight: bold;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
  border:solid 2px white;
  background-color: #f7f7f7fb;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}